<% include ./partials/header.ejs %>

<div class="main min-h-screen w-full bg-[#0F0F0F] font-orbitron">
  <div
    class="h-14 w-full flex items-center justify-start px-4 py-2 bg-[#1A1A1A]"
  >
    <a class="text-[#7F5AF0] text-sm hover:underline transition" href="/profile"
      >Profile</a
    >
  </div>

  <div class="flex flex-wrap gap-6 text-white w-full px-6 py-6">
    <% if(savedPosts.length === 0){ %>
    <h3 class="w-full text-center text-gray-400 text-sm mt-10">
      No saved posts found.
    </h3>
    <% } else { %> <% savedPosts.forEach(function(post){ %>
    <div
      class="overflow-hidden rounded-lg border border-[#292929] p-2 hover:bg-[#1A1A1A] transition"
    >
      <img
        class="h-32 w-32 rounded-md object-cover object-center border border-[#3d3d3d]"
        src="<%= post.picture.startsWith('http') ? post.picture : '/images/uploads/' + post.picture %>"
        alt=""
      />
      <h4 class="mt-2 text-sm text-[#CCCCCC] text-center">
        <%= post.user.username %>
      </h4>
    </div>
    <% }) %> <% } %>
  </div>
</div>

<% include ./partials/footer.ejs %>

<link
  href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap"
  rel="stylesheet"
/>
<style>
  .font-dm {
    font-family: "DM Sans", sans-serif;
  }
</style>
