<% include ./partials/header.ejs %>
    <div class="main h-screen w-full bg-zinc-800">
        <div class="h-14 w-full flex items-center justify-start px-4 y-2 bg-zinc-600">
            <a class="text-blue-500 font-semibold" href="/profile">Profile</a>
        </div>
        <div class="h-32 flex flex-wrap gap-7 text-white w-full px-8 py-4">
            <% if(savedPosts.length === 0){ %>
                <h3 class="flex justify-center text-center mt-10">No saved posts found.</h3>
            <% }else{ %>
                <% savedPosts.forEach(function(post){ %>
                    <div class=" overflow-hidden rounded-lg">
                        <img class="h-32 w-32 rounded-lg object-center object-cover" src="/images/uploads/<%= post.picture %>" alt="">
                        <h4 class=" mt-1 ml-2 text-white"><%= post.user.username %></h4>
                    </div>
                <% }) %>
            <% } %>
        </div>
    </div>
      
<% include ./partials/footer.ejs %>